include src/coremusic/*.pyi
include src/coremusic/*.pxd
include src/coremusic/*.pyx
include src/coremusic/*.c
include src/coremusic/*.cpp
include src/coremusic/py.typed

# Thirdparty: Ableton Link headers
recursive-include thirdparty/link/include *.hpp *.ipp
recursive-include thirdparty/link/modules/asio-standalone/asio/include *.hpp *.ipp

